// element overide styles
$--menu-item-color: #fff;
$--color-primary: #6666FF;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "variables";
// table
.el-table th, .el-table tr {
    height: 46px;
}
.el-table th>.cell {
    color: #333;
    font-size: 14px;
}
div.el-table--border td:not(:last-child), div.el-table--border th:not(:last-child) {
    border-right: none;
}
.el-table .cell{
    font-size: 14px;
}
.el-table__body tr.hover-row>td {
    background-color: $bgColor;
}

// sidebar
.el-menu {
    background-color: $sidebar-bg-color;
    .el-submenu__title:hover {
        background-color: $sidebar-bg-color;
    }
}
.el-submenu__title {
    height: 50px;
    line-height: 50px;
}

.el-menu-item:focus, .el-menu-item:hover {
    background-color: $sidebar-bg-color;
    opacity: 1;
}
.el-menu-item {
    opacity: 0.5;
    &.is-active {
        opacity: 1;
        background: rgba(102,102,255,0.20);
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 6px;
            background-color: $--color-primary;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}
.el-submenu__title i {
    color: #fff;
}
// form
.el-form-item.is-success {
    .el-input__inner,
    .el-textarea__inner
     {
        border-color: $e6;
    }
    .el-input__inner:focus,
    .el-textarea__inner:focus{
        border-color: $border-hover;
    }
}
//layout
.el-row + .el-row {
    margin-top: 10px;
}
.el-form .el-row + .el-row {
    margin-top: auto;
}

// dropdown
.el-dropdown-link:not(button) {
    cursor: pointer;
}
// el-tree
.el-tree-node__content{
    height: 32px;
    line-height: 32px;
}

// upload 上传
.el-upload-list {
    width: 400px;
}
