// color
$theme-color: #ff6200;
$bg-theme-color:#fff0f0;
$helper-color: #ff303a;
$fa: #fafafa;
$link: #3e8cf7; // 链接文字
$f7: #f7f7f7; // 背景色
$dc: #dcdcdc; // 边框
$btn-text: #666666; // 文字
$e6: #e6e6e6; //
$border-hover: #999999;
$logo-text: #333;
$helper-red: #F56C6C;

$bgColor: #{$f7};
$evenTrbgColor: #{$fa};
$borderColor: #{$dc};
$hoverColor: #fff1eb;
$tip-red: #fa4d4e;  // 辅助色 - 错误提示

$wanring: '#FFC147';
$success: '#4DCE6F';
$info: '#3E8CF7';
$error: '#FA4D4E';

$info-bg: #E5F7FE;

// font
$common-size: 14px;

// box-sizing
$base-width: 88px;
$base-height: 32px;
$visible-height: 31px;
