.menu-wrapper{
  /deep/ a {
    display: block;
  }
  /deep/ .submenu-item {
    position: relative;
    padding-left: 40px !important;
  }
  /deep/ .el-submenu > .el-submenu__title {
    color: #fff;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
.el-menu--collapse {
  /deep/ > .menu-wrapper .el-menu-item,
  /deep/ > .menu-wrapper .el-submenu > .el-submenu__title {
    text-align: center;
    [class^="icon"] {
      margin: 0;
      vertical-align: middle;
      width: 24px;
    }
    .el-submenu__icon-arrow {
      display: none;
    }
    span {
      height: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      display: inline-block;
    }
  }
}
